@page
@model RazorPages_Sample.Pages.Modul03.Calc1Model
@{
    ViewData["Title"] = "Calc1";
}

<h1>Calc1</h1>

<form method="post">
    <input name="eins" /> <br />
    <input name="zwei" /> <br />
    <button type="submit">Add</button>
    @Model.Ergebnis
</form>

